{% extends 'ClubApp/base.html' %}
{% load static %}

{% block tituloPagina %}
Clubes - App Club
{% endblock %}

{% block contenidoPagina %}
<section class="bg-light py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-3">
                Los clubes son:
                <ul class="list-group">
                    {% for club in clubes %}
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            {{club.nombre}}
                            <span class="badge bg-success rounded-pill">{{club.sede}}</span>
                        </li>
                    {% endfor %}
                </ul>
                <a href="{% url 'crear_club' %}">+ Crear Nuevo Club</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}